.App{
  height: 100vh;
}
.MuiBottomNavigationAction-label{
  font-size: 1.2rem !important;
}
/*.MuiBottomNavigationAction-root.Mui-selected {*/
/*  !*color: #5fb878 !important;*!*/
/*}*/
.MuiList-padding{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

div[class^="listFileEntryProperty"] {
  /* 文件浏览器 覆盖日期和文件大小list的样式*/
  flex: 0 1 150px;
  text-align: right;
  min-width: 200px;
  padding: 2px 8px;
  z-index: 20;
  overflow: hidden;
  font-size: 14px;
  box-sizing: border-box;
  white-space: nowrap;
}

fieldset {
  /* 去掉添加剧本表单中fieldset标签默认的边框 */
  border: none;
}
